@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Lobster&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    text-decoration: none;
    color:#05668d;
}

#hero-msg h1 {
    text-align: center;
} 
  
#hero-msg h4 {
    text-align: center;
    color:#05668d;
}

.button-box {
    text-align: center;
    
}

main section {
    text-align: center;
    background-color:#f0f3bd;
}

#background {
    height: 725px;
    background-color:#02c39a;
    
}
body {
    background-color:#f0f3bd;
    font-family: 'Cabin', 'Lobster', 'Georgia', 'san serif', 'cursive';
    font-size: 22px;
}
header {
    background-color: #02c39a;
}
nav a:hover {
    background-color: #396E94;
    color: black;
}
.book {
    text-decoration: none;
    background-color: #396E94;
    color: black;
    font-size: 18px;
}
.join {
    text-decoration: none;
    background-color: #396E94;
    color: black;
    font-size: 18px;
}
.book:hover {
    background-color: #f0f3bd;
    color: #02c39a;
}
.join:hover {
    background-color: #f0f3bd;
    color:#02c39a;
}
.home-title {
    color:#05668d;
    font-family: 'Cabin', 'Lobster', 'Georgia', 'san serif', 'cursive';
}
.msg {
    color:#396E94;
    background-color: #02c39a;
}
.msg h2 {
    color:#396E94;
    font-family: 'Cabin', 'Lobster', 'Georgia', 'san serif', 'cursive';
}
.msg p {
    color:#396E94;
    font-size: 8em;
}

footer {
    background-color:#02c39a;
    color:#05668d;
}
footer p {
    font-size: 1.2em;
    color:#05668d;
}
footer p a:hover {
    text-decoration: underline;
    background-color:#f0f3bd;
} 
footer a {
    text-decoration: none;
    color:#05668d;
}

footer h3 a {
    text-decoration: none;
    color:#05668d;
}
footer a:hover {
    color:#05668d;
}
.icon {
    width: 80px;
}
.logo {
    width: 80px;
}
#hero-img {
    width: 100%;
}