@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EFD3AF;
    --secondary-color: #8E8F72;
    --accent1-color: #81517E;
    --accent2-color: #CF7B61;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Berkshire Swash";
    --paragraph-font: Playfair Display, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #CF7B61;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #CF7B61; /* paragraph text on a white background */ 
    --paragraph-color: #70556e; /* paragraph text on a colored background */ 
    --paragraph-background-color: #EFD3AF;
    --nav-link-color: #70556e;
    --nav-background-color: #EFD3AF;
    --nav-hover-link-color: #CF7B61;
    --nav-hover-background-color: #f4f6f8;
  }

  /***********************************************************
  *
  * Default tag properties
  *************************************************************/

  body {
    font-family: var(--heading-font);
    font-size: 15px;
    color: var(--secondary-color);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);
  }

  h1 {
    font-size: 2em;

  }

  h2 {
    font-family: var(--paragraph-font); 
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.50em;

  }

  h4 {
    font-size: 1em;
  }

  img {
    max-width: 100%;
  }

  p {
    font-family: var(--paragraph-font);
    font-size: medium; 
    padding: 1;
    margin: 1;
  }

  a {
    text-decoration: none;
  }

  /*****************************************************
  *
  * Default properties for all pages
  ******************************************************/

.content {
    max-width: 1200px;
    margin: 0 auto;

}

.main {
    max-width: 1200px;
    margin: 0 auto;

}
.buttons {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;

}
.grid-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 3em 0;
}


/***********************************************************
*
* home page rules
************************************************************/

.grid-section1 img {
    width: 1200px;
    margin: 1em, 0;
    
   
}

.grid-section2 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 50px);
    margin: 3em, 0;
}

.grid-section2 h1 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 50px);
    margin: 3em, 0;
}

.grid-section2 p {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 50px);
    margin: 3em, 0;

}

.grid-section3 h1 p img{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 50px);
    margin: 3em, 0;
}

.grid-section4 h1 p img{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 50px);
    margin: 3em, 0;
}



/*.home-grid1 {
    background-color: #EFD3AF;
    padding: 1em;
    grid-column: 1/13;

    
}

.home-grid2 h1 p img {
    background-color: #EFD3AF;
    grid-column: 2/5;

}

.home-grid2 p {
    background-color: #EFD3AF;
    grid-column: 2/6;
    
}
.home-grid3 h1 {
    background-color: #EFD3AF;
    grid-column: 5/7;
    grid-row: 5;  
}
.home-grid3 p {
    background-color: #EFD3AF;
    grid-column: 5/7;
    grid-row: 5;
}

.home-grid4 {
    background-color: #EFD3AF;
    grid-column: 9/11;
    grid-row: 7;
}






/***********************************************************
*
* header area properties
************************************************************/
header{
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color: white;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    justify-items: center;

}
nav a {
    color: #70556e;
    font-size: xx-large;
    padding: 1em;
}

nav a:hover {
    color:#CF7B61;
    background-color:#EFD3AF;
}

/**********************************************************
*
*footer area properties
***********************************************************/
footer {
    background-color:#8E8F72;
    color: var(--accent1-color);
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}



