@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EFD3AF;
    --secondary-color: #8E8F72;
    --accent1-color: #81517E;
    --accent2-color: #CF7B61;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Berkshire Swash";
    --paragraph-font: Playfair Display, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #CF7B61;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #CF7B61; /* paragraph text on a white background */ 
    --paragraph-color: #70556e; /* paragraph text on a colored background */ 
    --paragraph-background-color: #EFD3AF;
    --nav-link-color: #70556e;
    --nav-background-color: #EFD3AF;
    --nav-hover-link-color: #CF7B61;
    --nav-hover-background-color: #f4f6f8;
  }

  /***********************************************************
  *
  * Default tag properties
  *************************************************************/

  body {
    font-family: var(--heading-font);
    font-size: 15px;
    color: var(--secondary-color);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);
  }

  h1 {
    font-size: 2em;

  }

  h2 {
    font-family: var(--paragraph-font); 
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.50em;

  }

  h4 {
    font-size: 1em;
  }

  img {
    max-width: 100%;
  }

  p {
    font-family: var(--paragraph-font);
    font-size: medium; 
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  /*****************************************************
  *
  * Default properties for all pages
  ******************************************************/

.content {
    max-width: 1200px;
    margin: 0 auto;

}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hp-section-hero { 
    grid-column: 1/-1; 
} 

.hp-section-featured { 
    grid-column: 2/5; 
    grid-row: 2; 
}     

.hp-section-technique {
    grid-column: 6/9; 
} 

.hp-section-practice {
    grid-column: 10/13; 
}

.buttons {
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 30px;
    border-radius: 20px;

}
/*
.grid-section {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1em 0;
}


/***********************************************************
*
* home page rules
************************************************************/
/*Home section 1 Hero Image*/
/*
.hp-section-hero hero-img {
    grid-column: 1/-1;
    grid-row: 1;
    width: 100%;
}


/***********************************************
Home section 2 Featured: Yarn of the Week
*************************************************/
/*
.hp-section-featured h1 {
    background-color: #f4f6f8;
    grid-column: 2/3;
    grid-row: 1;
}

.hp-section-featured img white-yarn {
    background-color: #f4f6f8;
    grid-column: 2/3;
    grid-row: 2;
}

.hp-section-featured p {
    background-color: #f4f6f8;
    grid-column: 2/3;
    grid-row: 3;
}
.hp-section-featured img tweed-yarn {
    background-color: #f4f6f8;
    grid-column: 1/3;
    grid-row: 4;
}


/***********************************************
Home section 3 Techniques to know
*************************************************/
/*

.hp-section-technique h1 {
    background-color: #f4f6f8;
    grid-column: 4/7;
    grid-row: 1;
}

.hp-section-technique img white-yarn {
    background-color: #f4f6f8;
    grid-column: 4/7;
    grid-row: 2;
}

.hp-section-technique p {
    background-color: #f4f6f8;
    grid-column: 4/7;
    grid-row: 3;
}
.hp-section-technique img blue-cables {
    background-color: #f4f6f8;
    grid-column: 4/7;
    grid-row: 4;
}

/***********************************************
Home section 4 Practice Makes Beautiful
*************************************************/
/*
.hp-section-practice h1 {
    background-color: #f4f6f8;
    grid-column: 8/12;
    grid-row: 1;
}

.hp-section-practice img white-yarn {
    background-color: #f4f6f8;
    grid-column: 8/11;
    grid-row: 2;
}

.hp-section-practice p {
    background-color: #f4f6f8;
    grid-column: 8/12;
    grid-row: 3;
}
.hp-section-practice img yarn-colors {
    background-color: #f4f6f8;
    grid-column: 8/12;
    grid-row: 4;
}







/***********************************************************
*
* header area properties
************************************************************/
header{
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color: white;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    justify-items: center;

}
nav a {
    color: #70556e;
    font-size: xx-large;
    padding: 1em;
}

nav a:hover {
    color:#CF7B61;
    background-color:#EFD3AF;
}

/**********************************************************
*
*footer area properties
***********************************************************/
footer {
    background-color:#8E8F72;
    color: var(--accent1-color);
    font-size: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.social {
    display: grid;
    grid-template-columns: repeat(3, 100px);
}



