@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playfair+Display&display=swap");

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #EFD3AF;
    --secondary-color: #8E8F72;
    --accent1-color: #81517E;
    --accent2-color: #CF7B61;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Berkshire Swash";
    --paragraph-font: Playfair Display, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #CF7B61;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #CF7B61; /* paragraph text on a white background */ 
    --paragraph-color: #70556e; /* paragraph text on a colored background */ 
    --paragraph-background-color: #EFD3AF;
    --nav-link-color: #70556e;
    --nav-background-color: #EFD3AF;
    --nav-hover-link-color: #CF7B61;
    --nav-hover-background-color: #f4f6f8;
  }

  /***********************************************************
  *
  * Default tag properties
  *************************************************************/

  body {
    font-family: var(--heading-font);
    font-size: 20px;
    color: var(--secondary-color);
    
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--heading-font);
    font-weight: 700;
    color: var(--secondary-color);
  }

  h1 {
    font-size: 1.75em;
    color:#81517E;
    background-color: #EFD3AF;
    text-align: center;

  }

  h2 {
    font-family: var(--paragraph-font); 
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.50em;

  }

  h4 {
    font-size: 1em;
  }

  img {
    max-width: 100%;
  }

  p {
    font-family: var(--paragraph-font);
    font-size: medium; 
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  /*****************************************************
  *
  * Default properties for all pages
  ******************************************************/

.content {
    max-width: 1200px;
    margin: 0 auto;

}

main {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(12, 1fr);

}

.hp-section-hero { 
    grid-column: 1/-1;
    align-items: center; 
} 

.hp-section-featured { 
    grid-column: 1/5;
    color:#70556e;
    text-align: center; 
}     

.hp-section-technique {
    grid-column: 5/9;
    color:#70556e;
    text-align: center;   
} 

.hp-section-practice {
    grid-column: 9/13;
    color:#70556e;
    text-align: center;   
}

.yarnshoppe-header {
  grid-column: 1/-1;
  color:#70556e;  
}

.yarnshoppe-header h1 {
  text-align: center;  
}

.yarnshoppe-christmas {
  grid-column: 1/4;
  color:#70556e;
  text-align: center;
  padding-bottom: 30px;
  border: #70556e;  /*testing border*/
}

.yarnshoppe-christmas h1 {
  text-align: center;  
}

.yarnshoppe-patterns {
  grid-column: 5/8;
  color:#70556e;
  text-align: center;
  padding-bottom: 30px;
  border: #70556e;  

}

.yarnshoppe-patterns h1 {
  text-align: center;  
}

.yarnshoppe-colorway {
  grid-column: 9/12;
  color:#70556e;
  text-align: center;  
}

.yarnshoppe-colorway h1 {
  text-align: center;  
}

.yarnshoppe-calculator {
  grid-column: 1/4;
  color:#70556e;
  text-align: center; 
}

.yarnshoppe-calculator h1 {
  text-align: center;  
}

.yarnshoppe-coupon {
  grid-column: 5/8;
  color:#70556e;
  text-align: center;
}

.yarnshoppe-coupon h1 {
  text-align: center;  
}


.yarnshoppe-mystery {
  grid-column: 9/12;
  color:#70556e;
  text-align: center;
}

.yarnshoppe-mystery h1 {
  text-align: center;  
}


.yarnshoppe-form {
  grid-column: 1/-1;
}

.grid-kit {
  grid-column: 1/-1;
}

.grid-history {
  grid-column: 1/-1;
}

.grid-pattern {
  grid-column: 1/-1;
}
/* Style the form */

#regForm {
  margin: 0;
  font-family: Playfair Display;
  width: 50%;
  min-width: 300px;
}


h1 {
  text-align: left;  
}


input {
  padding: 10px;
  width: 92%;
  font-size: 16px;
  font-family: Playfair Display;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

button {
  background-color:#CF7B61;
  color: #ffffff;
  border: none;
  padding: 5px 5px;
  font-size: 17px;
  font-family: Playfair Display;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}


/* Mark the steps that are finished and valid: */
.step.finish {
  background-color:#EFD3AF;
}

#regForm {
  display: grid;
  grid-column: 1/3;
/*something else needs to go here to stretch my form across the footer space?*/
  min-width: 100%;
}


/***********************************************************
*
* header area properties
************************************************************/
header {
    display: grid;
    grid-template-columns: 250px auto;
    align-items: center;
    background-color:#EFD3AF;
}

nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(4em, 1fr));
    justify-items: center;

}
nav a {
    color:#81517E;
    font-size: xx-large;
    padding: 1em;
}

nav a:hover {
    color:#70556e;
    background-color:#8E8F72;
}

/**********************************************************
*
*footer area properties
***********************************************************/
footer {
    background-color:#EFD3AF;
    color: var(--accent1-color);
    font-size: large;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column: 3/12;


    

}


.social {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: 1fr 1fr;
    grid-column: 1/2;

    
}
/*
@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  .home-title {
      font-size: 25px;
      color: #6f7364;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}
  */
